/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'PT Sans', sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
  /*text-align: center;*/
}

.inner {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}


header {
  height: 42px;
  background-color: #3d454d;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-path {
  color: white;
  margin-left: 8px;
}

.header-right {
  float: right
}

.header-user-avatar {
  border-radius: 50%;
  margin-left: 4px;
}

.header-search-box {
  display: inline-block;
  color: white;
}

.header-search {
  background-color: rgba(0,0,0,0.5);
  width: 200px;
  border-radius: 4px;
  border: 0;
  color: white;
  padding: 2px 6px;
  margin-right: 4px;
}

.header-search-input-container {
  width: 0;
  overflow: hidden;
  display: inline-block;
}

.header-pill {
  display: inline-block;
  margin-right: 4px;
}

.pill-label {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px 0 0 4px;
  padding: 3px 6px;
  color: rgba(255,255,255,0.6);
}

.pill-value {
  background-color: rgba(81, 151, 222, 1);
  border-radius: 0 4px 4px 0;
  padding: 3px 6px;
  color: white;
}

.primary-nav {
  height: 42px;
  position: fixed;
  top: 42px;
  left: 0;
  right: 0;
  padding: 0 8px;
  box-sizing: border-box;
  background-color: rgba(236, 237, 238, 1);
  transition: top 0.2s ease-in-out;
  z-index: 50;
}

.primary-nav.nav-up {
    top: 0px;
}


.nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  display: inline-block;
  padding: 10px;
}

.nav-link.selected {
  background-color: #e24329;
  color: white;
}

.readme {
  margin-top: 90px;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
